body {
    font-family: Arial, sans-serif;
    background-color: #e6f7e5;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #c0e3cd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    text-align: center;
    color: #009688;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #009688;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #009688;
    color: white;
}

td input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #009688;
    border-radius: 4px;
}

.section-title {
    background-color: #009688;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background-color: #009688;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00796b;
}

/* User Dropdown Menu */
.user-menu {
    position: absolute;
    top: 10px;
    left: 10px;
}

.dropbtn {
    background-color: #009688;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 9px;
    width: 130px;
    height: 50px;
}

.user-menu .fas {
    margin-left: 5px;
}

.user-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.user-menu .dropdown-content a {
